[scenario]
#textdomain wesnoth-Flight_Freedom
	name= _ "Blue River"
	{MAP 05a}
	turns=30
	{SCENARIO_MUSIC battle.ogg}
	id=Blue_River
	translations=/data/campaigns/Flight_Freedom_1_3/translations
	textdomain=wesnoth-Flight_Freedom
	next_scenario="Southern_Shore"

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	[side]
		type=Drake Chieftain
		description=Malakar
		user_description= _ "Malakar"
		side=1
		canrecruit=1
		controller=human
		recruit=Drake Hatchling,Drake Slave,Drake Burner,Drake Glider,Drake Fighter,Drake Clasher
		unrenameable=yes
		team_name=good
		user_team_name= _ "Kakatar Tribe"
	[/side]

	[side]
		type=Elvish Marshal
		description=Mandros
		user_description= _ "Mandros"
		side=2
		controller=ai
		canrecruit=1
		{GOLD 150 200 250}
		recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman
		team_name=evil
		user_team_name= _ "Elvish Melrithian Force"
	[/side]

	[side]
		type=Lieutenant
		description=Omandro
		user_description= _ "Omandro"
		side=3
		controller=ai
		canrecruit=1
		{GOLD 125 175 225}
		income=5
		recruit=Spearman,Cavalryman,Mage,Bowman,Clipper
		team_name=evil
		user_team_name= _ "Wesnoth Royal Army"
	[/side]

	{NPC_SIDE 4 evil (_ "Animals")}

	{NPC_BIRD_BEHAVIOR 4 1 35 1 50}

	{OBJECTIVES_USUAL_FTF}

	[event]
		name=prestart
		{NPC Crow 25 24 4}
		{NPC Falcon 16 31 4}
		{NPC Crow 8 10 4}
		{NPC Crow 24 7 4}
		{NPC Horse 42 10 4}
		{NPC Horse 36 11 4}
		{NPC Fungoid 4 18 4}
		{NPC Fungoid 38 21 4}
		{NPC Fungoid 3 33 4}
		[role]
			type=Drake Glider,Drake Fighter,Drake Slave
			role=glidera
		[/role]
		[recall]
			role=glidera
		[/recall]
#keeps drake out of Kogw's way
		[teleport]
			[filter]
				role=glidera
			[/filter]
			x,y=46,33
		[/teleport]
	[/event]

	[event]
		name=start
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "This must be the Blue River. I know you are all tired. We rest for ten minutes."
		[/message]
		[move_unit_fake]
			type=Pirate
			x=40,41,42,43,44,45,46,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
			y=12,13,13,14,14,15,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32
			side=1
		[/move_unit_fake]
		[unit]
			type=Pirate
			user_description= _ "Kogw"
			description=Kogw
			x=47
			y=32
			side=1
			{IS_HERO}
			unrenameable=yes
			random_traits=no
			{TRAIT_LOYAL}
		[/unit]
		[message]
			role=glidera
			message= _ "Malakar, there are humans on the other side of the river. I cannot tell if they're looking for us or not."
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "Spot of trouble with the army, eh?"
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Who are you? Someone! Kill the human!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "All right, all right. I just thought you could use some help escaping from the, uh, humans."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "What do you mean, softskin?"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "As it happens, I'm the leader of a band of... adventurers. We're good sorts, but those damn elves have been after us for no good reason!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "You help us throw off the elves, and we'll join you."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Begone from here, softskin. We have no need of you, and no need of your aid."
		[/message]
		[sound]
			name=horse-canter.wav
		[/sound]
#Elvish Rider chasing Kogw
		[move_unit_fake]
			type=Elvish Rider
			x=39,40,41,42,43,44,45,46,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
			y=12,12,13,13,14,14,15,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
			side=2
		[/move_unit_fake]
		#wmllint: recognize rider
		{RANDOM_TRAIT_UNIT_ELF (
			generate_description=yes
			type=Elvish Rider
			x=47
			y=31
			side=2
			description=rider
		)}
		[message]
			description=rider
			message= _ "Kogw! By the order of Lord Mandros and the entire Elder Council of the Elven Nations, I order you to lay down your weapons and surrender at once!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "Look, friend, as one captain to another..."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "I am the Chief of this tribe!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "If you've got trouble with Wesnoth's army, then no place here is safe. You need to leave these lands, and fast."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Ha! Stupid human, what do you think those things on our backs are?"
		[/message]
		[message]
			description=rider
			message= _ "Kogw! This is your last warning!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "The ocean winds blow with great speed. You cannot fly against them. And what will become of your flightless spearmen?"
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "How DARE you insult my clashers, puny softskin!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "I guess you'd just have to leave them behind."
		[/message]
		[message]
			description=rider
			message= _ "Enough! Your time has come!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "What a loss for the 'great chief of the drakes'. I guess I'll just have to take my ship elsewhere... so long."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Wait. You do speak some sense. You have my cooperation, for now, but do not think for a moment that you have my trust."
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Mandros
		[/filter]
		[message]
			description=Mandros
			id=mag_cmpgn_flight_freedom_5_6
			message= _ "AAAAH!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "Well, then. That's that. We will aid you, Chief."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "And how do I guarantee that you will not kill us while we sleep? Swear on the fire of Gar-Alagar, king of the gods of Morogor, an oath to me, Malakar of the Drakes!"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "Upon the very eyes of the pirate gods I swear my loyalty."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Do not mention your 'gods' again, infidel human. I see I will have to teach you manners."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			sound=fire.wav
			message= _ "Understand. You swear by Gar-Alagar, king of the gods of Morogor, in the future, or you will be sacrificed to him."
		[/message]
		[message]
			speaker=narrator
			{DRAKE_ICON}
			message= _ "You can now recruit Pirate Schooners."
		[/message]
		[allow_recruit]
			side=1
			type=Pirate Schooner
		[/allow_recruit]
	[/event]

	{FREEDOM_DEATHS}

	[event]
		name=die
		[filter]
			description=Omandro
		[/filter]
		[item]
			x,y=$x1,$y1
			image=units/human-loyalists/lieutenant-die-7.png
		[/item]
		[redraw]
		[/redraw]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "You! Why do your men pursue us!"
		[/message]
		[message]
			description=Omandro
			message= _ "It is hardly by my wishes, drake. The King has ordered that you all be killed, so that you cannot report back to your people. The whole army has been pressed into service."
		[/message]
		[message]
			description=Omandro
 			message= _ "I personally despise slavery, and I thank you for slaying that wicked Baron, but I have my orders."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "What forces do you have with you?"
		[/message]
		[message]
			description=Omandro
 			message= _ "The nearest force advances from the south, but may be as far as a day behind."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "Very well. You have one minute to go. If I see you again, there will be no mercy. Go!"
		[/message]
		[message]
			description=Omandro
 			message= _ "Thank you, Malakar, Chief of the Drakes, but I decline. Our thirst for your blood sickens me, but I am still sworn to the crown, and have given my oath to the King. I must fight you."
		[/message]
		[message]
			description=Malakar
			sound=flame-big.ogg
			{MALAKAR_PORTRAIT}
			message= _ "So be it."
		[/message]
		[removeitem]
			x,y=$x1,$y1
		[/removeitem]
		[redraw]
		[/redraw]
	[/event]

	[event]
		name=victory
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "Wow. Well, Mal, we'd best be getting..."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ " *growls*"
		[/message]
		[message]
			description=Kogw
			{KOGW_PORTRAIT}
			message= _ "... along before the winds shift. My ship is ready to go, when you are."
		[/message]
		[message]
			description=Malakar
			{MALAKAR_PORTRAIT}
			message= _ "First we must bury the body of that one, Omandro. The others were merely puppets, but he was their leader."
		[/message]
		[role]
			type=Drake Burner,Drake Fighter,Drake Clasher,Drake Slave,Drake Glider,Drake Worker
			role=drakeb
		[/role]
#just in case the role drakeb can't be filled
		[if]
			[have_unit]
				role=drakeb
			[/have_unit]
			[then]
				[message]
					role=drakeb
					message= _ "With all due respect, Malakar, we hardly have the time to..."
				[/message]
				[message]
					description=Malakar
					{MALAKAR_PORTRAIT}
					message= _ "Silence! The humans hound us, enslave us, and kill our young. They are our sworn enemies, and they will be destroyed every time our peoples meet!"
				[/message]
				[message]
					description=Kogw
					message= _ " *gulp*"
				[/message]
				[message]
					description=Malakar
					{MALAKAR_PORTRAIT}
					message= _ "However, they still have scant traces of honor. We respect those with honor. In the end, it is one thing that makes us different from them. Bury their leader."
				[/message]
			[/then]
			[else]
				[message]
					description=Malakar
					{MALAKAR_PORTRAIT}
					message= _ "We respect those with honor, and Omandro had honor. In the end, it is one thing that makes us different from them."
				[/message]
			[/else]
		[/if]
		{VICTORY_MUSIC}
		[endlevel]
			result=victory
			bonus=yes
		[/endlevel]
	[/event]

	{FTF_COMMON}

[/scenario]
