[scenario]
#textdomain wesnoth-Flight_Freedom
	name= _ "The Open Ocean"
	{MAP 07}
	turns=15
	{SCENARIO_MUSIC knolls.ogg}
	victory_when_enemies_defeated=no
	id=Open_Ocean
	translations=/data/campaigns/Flight_Freedom_1_3/translations
	textdomain=wesnoth-Flight_Freedom
	next_scenario="Landfall"

	{STORY_OPENOCEAN}

	{RAIN}

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	[side]
		save_id=Malakar
		type=Pirate Galleon2
		description=Unforgiver
		user_description= _ "Unforgiver"
		side=1
		canrecruit=1
		controller=human
		recruit=Drake Hatchling,Drake Slave,Drake Burner,Drake Glider,Drake Fighter,Drake Clasher,Pirate Schooner
		unrenameable=yes
		team_name=good
		fog=yes
		user_team_name= _ "Skullbone Pirates"
	[/side]
	[side]
		type=Cow
		side=2
		controller=ai
		canrecruit=1
		gold=0
		recruit=
		no_leader=yes
		team_name=evil
		user_team_name= _ "Sea Monsters"
	[/side]

	{OBJECTIVES_HEADER_BEGIN}
	{CONDITION_WIN ( _ "Move the Unforgiver to the bottom")}
	{CONDITION_LOSE ( _ "Destruction of the Unforgiver")}
	{OBJECTIVES_FOOTER_BEGIN}

	[event]
		name=prestart
#removes the keep
		[terrain]
			x=40
			y=1
			letter=Wo
		[/terrain]
#		{WAVECHECK}
#west island
#		{WAVES 19 27}
#		{WAVES 18 27}
#		{WAVES 17 28}
#		{WAVES 20 26}
#		{WAVES 20 25}
#		{WAVES 21 25}
#		{WAVES 17 30}
#		{WAVES 14 29}
#		{WAVES 13 30}
#		{WAVES 11 30}
#northeast island
#		{WAVES 38 14}
#		{WAVES 37 15}
#		{WAVES 36 15}
#		{WAVES 32 15}
#east island
#		{WAVES 40 27}
#		{WAVES 40 28}
#		{WAVES 40 29}
#		{WAVES 39 30}
#southeast island
#		{WAVES 31 34}
#		{WAVES 30 34}
#		{WAVES 31 33}
	[/event]

	[event]
		name=start
#sets up the map
#ifndef HARD
		[unit]
			generate_description=yes
			x=39
			y=1
			type=Pirate Galleon2
			side=1
		[/unit]
#endif
#ifdef EASY
		[unit]
			generate_description=yes
			x=40
			y=2
			type=Pirate Galleon2
			side=1
		[/unit]
#endif
#ifdef NORMAL
		[unit]
			generate_description=yes
			x=40
			y=2
			type=Pirate Cruiser
			side=1
		[/unit]
#endif
#ifdef HARD
		[unit]
			generate_description=yes
			x=39
			y=1
			type=Pirate Cruiser
			side=1
		[/unit]
		[unit]
			generate_description=yes
			x=40
			y=2
			type=Pirate Cruiser
			side=1
		[/unit]
#endif
#define CHANGE_WATER_DEFENSE ID DEFENSE
			[modifications]
				[object]
					id=weaken{ID}
					duration=level
					silent=yes
					[effect]
						apply_to=defense
						replace=true
						[defense]
							shallow_water={DEFENSE}
							deep_water={DEFENSE}
						[/defense]
					[/effect]
				[/object]
			[/modifications]
#enddef
		[unit]
			x=23
			y=28
			type=Sea Serpent
			side=2
#it's bigger than a galleon, and its near the surface
#there's absolutely no reason for it to have defense like an elf in forest
			{CHANGE_WATER_DEFENSE 1 60}
		[/unit]
		[unit]
			x=16
			y=37
			type=Sea Serpent
			side=2
			{CHANGE_WATER_DEFENSE 2 60}
		[/unit]
		[unit]
			x=4
			y=7
			type=Cuttle Fish
			side=2
#the same with these
			{CHANGE_WATER_DEFENSE 3 50}
		[/unit]
		[unit]
			x=21
			y=9
			type=Cuttle Fish
			side=2
			{CHANGE_WATER_DEFENSE 4 50}
		[/unit]
		[unit]
			x=10
			y=18
			type=Cuttle Fish
			side=2
			{CHANGE_WATER_DEFENSE 5 50}
		[/unit]
		[unit]
			x=32
			y=19
			type=Cuttle Fish
			side=2
			{CHANGE_WATER_DEFENSE 6 50}
		[/unit]
		[unit]
			x=31
			y=7
			type=Tentacle of the Deep
			side=2
		[/unit]
		[unit]
			x=36
			y=32
			type=Tentacle of the Deep
			side=2
		[/unit]
		[unit]
			x=20
			y=36
			type=Tentacle of the Deep
			side=2
		[/unit]
		[scroll_to_unit]
			description=Unforgiver
		[/scroll_to_unit]
		[message]
			description=Unforgiver
			image=$kogw_image
			message= _ "(Kogw) Welcome to the Sea of Webs, boys and girls, home to the nastiest beasts you're likely to find this side of an undead family reunion."
		[/message]
		[message]
			description=Unforgiver
			image=$malakar_image
			message= _ "(Malakar) None will obstruct our passage. We will kill anything that tries to stop us!"
		[/message]
		[message]
			description=Unforgiver
			image=$kogw_image
			message= _ "(Kogw) Good plan! Let's round up every monster in the ocean, and a few of the larger fish, and fight them one-on-one!"
		[/message]
		[message]
			description=Unforgiver
			image=$malakar_image
			message= _ "(Malakar) Only the ones that oppose... do not mock me, thinskin."
		[/message]
		[message]
			description=Unforgiver
			image=$kogw_image
			message= _ "(Kogw) Heh-heh, I'm the one with thin skin, now? Keep the Unforgiver oriented South, men, and keep us well clear of the larger monsters!"
		[/message]
		[/event]

	{FREEDOM_DEATHS}

	[event]
		name=moveto
		[filter]
			x=1-40
			y=40
			description=Unforgiver
		[/filter]
		[message]
			description=Unforgiver
			image=$malakar_image
			message= _ "(Malakar) Let us press on!"
		[/message]
#quick-and-dirty fix so you can't recall a serpent
		[kill]
			type=Sea Serpent
		[/kill]
		{VICTORY_MUSIC}
		[endlevel]
			result=victory
			bonus=yes
		[/endlevel]
	[/event]

	[event]
		name=time over
		{DEFEAT_MUSIC}
		[message]
			description=Unforgiver
			image=$kogw_image
			message= _ "(Kogw) The storm is gaining strength! We're doomed!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	{FTF_COMMON}

[/scenario]
